*.swp
*.avi
*.pyc
*.obj
*.manifest
*.user
*.idb
*.dep
*.pdb
*.ncb
*.suo
*.sln
*.o
*~
*#

**/.svn/
**/.settings/
**/.cproject/
**/.project/
**/BuildLog.htm

hevc_transcoding-eharano/rec.yuv

hevc_transcoding-eharano/output_data
hevc_transcoding-eharano/error_data/
hevc_transcoding-eharano/test_data/
hevc_transcoding-eharano/sample_videos/
hevc_transcoding-eharano/bitstreams/
hevc_transcoding-eharano/sublime/

hevc_transcoding-eharano/VideoSimScript/jobs/
hevc_transcoding-eharano/VideoSimScript/Results/
hevc_transcoding-eharano/VideoSimScript/unused/cfg_*/

hevc_transcoding-eharano/software/HM-16.6/bin/
hevc_transcoding-eharano/software/HM-16.6/lib/
hevc_transcoding-eharano/software/HM-16.6/build/vc9/Win32/
hevc_transcoding-eharano/software/HM-16.6/build/linux/**/objects/

hevc_transcoding-eharano/software/d65_gt/build_*/
hevc_transcoding-eharano/software/d65_gt/tools/downScale/bin/linux/downScale

hevc_transcoding-eharano/software/PSNRStatic/bin/
