*~
~$*
*#
*.swp
*.swo
*.ppm

**/.svn/
*.DS_Store

sandbox/
hevc_transcoding-eharano/
GitlHEVCAnalyzer/
software/
rapport/build/

ericsson/powerpoint/
ericsson/reports/
ericsson/excel/160219_partial_deflation/

reading/High Efficiency Video Coding - Coding Tools and Specification (2015).pdf
